
body {
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
}


h1 {
    color: #878787;
    font-size:24px;
    font-weight:100;
    line-height: 28px;
    margin-bottom: 0;  
}
.float-left{
    font-size: 45px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
     margin: 0;
     padding: 0;
     color: rgb(135,135,135);
     font-size: 16px;
     font-weight: 100;
     line-height: 19px;
 
 }
 li::first-letter {
    text-transform: capitalize;
 }
.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}
.weather-app {
    margin: 40px auto;
    padding: 15px;
    border: 2px solid;
    border-radius: 10px;
    max-width: 800px;

}
.weather-temp img {
    display: block;
    margin-right: 5px;
    height:  100px;
    width: 100px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature strong {
    color: rgb(33,33,33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}
.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}
.weather-temperature .active {
    color: rgb(33,33,33);
    cursor: default;

}
.weather-temperature .active:hover {
    text-decoration: none;
}


 